{{ section.description }}


<div class="row">
{#    <div class="col-md-4">#}
{#        <label class="input__label" for="{{ property.name }}">BAG ID (example: 0796200000306819)</label>#}
{#        <input class="input__control input__control--text" id="{{ property.slug }}" type="text" name="properties[{{ property.slug }}]" required>#}
{#    </div>#}
    <div class="col-sm-12 col-lg-3">
        <label class="input__label" for="postalCode">Postcode</label>
        <input class="input__control input__control--text" id="postcode" type="text">
        <p style="font-size: 15px; color: grey">1339PC <br> (Let op hoofdletters)</p>
    </div>
    <div class="col-sm-12 col-lg-3">
        <label class="input__label" for="houseNumber">Huisnummer</label>
        <input class="input__control input__control--text" id="huisnummer" type="text">
    </div>
    <div class="col-sm-12 col-lg-3">
        <label class="i4put__label" for="houseNumberSuffix">toevoeging</label>
        <input class="input__control input__control--text" id="toevoeging" type="text">
    </div>
    <div class="col-sm-12 col-lg-2">
        <br>
        <button type="button" onclick="getBagKeys()" style="width: 100%" class="btn btn-primary">Zoeken</button>
    </div>
</div>


<script>

    function getBagKeys(){
        let postcode = document.getElementById('postcode').value;
        document.getElementById('postcode').value = null;

        let huisnummer = document.getElementById('huisnummer').value;
        document.getElementById('huisnummer').value = null;

        let toevoeging = document.getElementById('toevoeging').value;
        document.getElementById('toevoeging').value = null;

        console.log(postcode);
        console.log(huisnummer);

        $.ajax({
            url: "/api/as/adressen",
            type: 'GET',
            data: {
                'huisnummer':parseInt(huisnummer),
                'postcode':postcode,
            },
            processData: true,
            statusCode: {
                404: function() {
                    console.log( "page not found" );
                },
                500: function() {
                    console.log( "internal server error" );
                },
                200: function() {
                    console.log( "worked" );
                }
            },
            dataType: 'json',
            success: function(result, test, test2) {
                console.log(result);
                console.log(test);
                console.log(test2);
            },
        });
    }


</script>
