{% extends "base.html.twig" %}

{% block content %}


    <div style="background-color: white; height: 100vh; display: flex; flex-direction: column;  align-items: center; padding: 15px">
        <h1 style="font-size: 120px; margin-top: 25%; padding: 15px">404</h1>
        <h3 style="color: red">Sorry, er ging iets mis. </h3>
        <h4>Deze pagina lijkt niet te bestaan sorry voor het ongemak.</h4>
    </div>


{% endblock %}
