<br>
<label class="input__label" for="voornaam">Adres</label>
<div style="display: flex">
    {% if request.properties[property.name] is defined and request.properties[property.name] is not empty %}
        <input class="input__control input__control--text" style="" id="locationProperty" type="text" name="request[properties][{{ property.name }}]"
               value="{{ request.properties[property.name] }}">
    {% else %}
        <input class="input__control input__control--text" style="" id="locationProperty" type="text" name="request[properties][{{ property.name }}]">
    {% endif %}
    <button style="width: 50px" type="button" onclick="showPosition();"><i class="fas fa-map-marker-alt"></i></button>
</div>

<div id="result" style="margin-bottom: 20px">
    <!--Position information will be inserted here-->
</div>

<script>
    function showPosition() {
        if(navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                let positionInfo = "Uw huidige locatie is: (" + "Breedtegraad: " + position.coords.latitude + ", " + "Lengtegraad: " + position.coords.longitude + ")";
                document.getElementById("result").innerHTML = positionInfo;
                let location = document.getElementById('locationProperty');
                location.value = ''+position.coords.latitude+' '+position.coords.longitude;

                console.log(location.value);
            });
        } else {
            alert("Sorry, uw browser ondersteund deze functie niet.");
        }
    }
</script>
