<div class="row">
    <div class="col-md-12">
        <label class="input__label" for="{{ property.id }}">{{ property.name }}</label>
        <input class="input__control input__control--text" id="{{ property.id }}" type="tel" name="properties[{{ property.slug }}]" {% if property.required is defined and property.required %}required{% endif %}>
    </div>
</div>
